# Auto detect text files and perform LF normalization
* text=auto
entregas/EDA/EDA_Fede_Ruiz.zip filter=lfs diff=lfs merge=lfs -text
File[[:space:]]2-EDA/11-APIs/teoria/201906_Usage_Bicimad.json filter=lfs diff=lfs merge=lfs -text
entregas/EDA/home_/data/inmd_df.csv filter=lfs diff=lfs merge=lfs -text
entregas/EDA/movilidad/data/movilidad_madrid_trabajo.csv filter=lfs diff=lfs merge=lfs -text
entregas/EDA/movilidad/notebooks/incommd_df.csv filter=lfs diff=lfs merge=lfs -text
