# Especificamos lo que no queremos que se suba al repositorio
#*.xlsx
PROF_*
*.DS_Store
*.idea
credentials*
*checkpoint.ipynb
.ipynb_checkpoints
**/*.ipynb_checkpoints/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
